@import "tailwindcss";


.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* max-width: 1200px; */
}


@layer components {
  .header_top__icon_wrapper{
    @apply  bg-gray-200 rounded-md p-[6px] text-[14px] cursor-pointer hover:bg-green-800 hover:text-white;
  }

  .navbar__link:hover{
    color: rgb(102, 150, 4);
    transition: all 0.4s;
}
.navbar__link::after{
  position:absolute;
  content: "";
  background-color:rgb(102, 150, 4) ;
  height: 3px;
  width: 100%;
  bottom: -5px;
  left: 0;
  scale: 0;
  transform-origin: left;
  transition: all 0.4s;
}
 .navbar__link:hover::after{
  scale: 1;
 }
}